extends layout

block content
 .jumbotron
  h1.display-3 #{title}
  p.lead
   | Sending Email With Nodemailer and SendGrid
  p
  a.btn.btn-primary.btn-lg(href='/contact', role='button') Learn more »

 .row.marketing
  .col-lg-6
    h4 Sendgrid transporter
    p
      | 
    a.btn.btn-default(href='#', role='button') View details »
  
  .col-lg-6
    h4 Gmail transporter
    p
      | 
    a.btn.btn-default(href='#', role='button') View details »
    